body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #d83d00;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #e2e2e2;
}

.size {
  background: #e2e2e2;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border: 2px solid #232323;
  color: #fff;
}

.btn-primary {
  background: #FE5F1E;
  border: 2px solid #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #d83d00;
  border: 2px solid #232323;
  color: #fff;
}

section.cart {
  background: #e2e2e2;
}
section.cart .ammount {
  color: #FE5F1E;
}

section.login {
  background: #e2e2e2;
  min-height: calc(100vh - 86px);
}
section.login a {
  color: #FE5F1E;
}
section.login a:hover {
  color: #d83d00;
}
